@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GLOBAL */
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

/* GRID */
* {
  box-sizing: border-box; }

.row {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  padding: 0px;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
    /*
		Alinhamento dos itens no eixo x; main-axis
    */
  /* Alinhamento dos itens no eixo y;cross-axis */
  /*Alinhamento das linhas no eixo y;cross-axis;
  
  Só tem efeito com 2 ou mais linhas*/
  /* Configurações dos itens */
  /*Offset*/ }
  .row.reverse {
    flex-direction: row-reverse; }
  .row.column {
    flex-direction: column; }
  .row.column-reverse {
    flex-direction: column-reverse; }
  .row.wrap {
    flex-wrap: wrap; }
  .row.no-wrap {
    flex-wrap: nowrap; }
  .row.wrap-reverse {
    flex-wrap: wrap-reverse; }
  .row.x-sm-start {
    justify-content: flex-start; }
  .row.x-sm-end {
    justify-content: flex-end; }
  .row.x-sm-center {
    justify-content: center; }
  .row.x-sm-between {
    justify-content: space-between; }
  .row.x-sm-around {
    justify-content: space-around; }
  @media only screen and (min-width: 600px) {
    .row.x-md-start {
      justify-content: flex-start; }
    .row.x-md-end {
      justify-content: flex-end; }
    .row.x-md-center {
      justify-content: center; }
    .row.x-md-between {
      justify-content: space-between; }
    .row.x-md-around {
      justify-content: space-around; } }
  @media only screen and (min-width: 992px) {
    .row.x-lg-start {
      justify-content: flex-start; }
    .row.x-lg-end {
      justify-content: flex-end; }
    .row.x-lg-center {
      justify-content: center; }
    .row.x-lg-between {
      justify-content: space-between; }
    .row.x-lg-around {
      justify-content: space-around; } }
  .row.itens-sm-all {
    align-items: stretch; }
  .row.itens-sm-start {
    align-items: flex-start; }
  .row.itens-sm-end {
    align-items: flex-end; }
  .row.itens-sm-center {
    align-items: center; }
  .row.itens-sm-baseline {
    align-items: baseline; }
  @media only screen and (min-width: 600px) {
    .row.itens-md-all {
      align-items: stretch; }
    .row.itens-md-start {
      align-items: flex-start; }
    .row.itens-md-end {
      align-items: flex-end; }
    .row.itens-md-center {
      align-items: center; }
    .row.itens-md-baseline {
      align-items: baseline; } }
  @media only screen and (min-width: 992px) {
    .row.itens-lg-all {
      align-items: stretch; }
    .row.itens-lg-start {
      align-items: flex-start; }
    .row.itens-lg-end {
      align-items: flex-end; }
    .row.itens-lg-center {
      align-items: center; }
    .row.itens-lg-baseline {
      align-items: baseline; } }
  .row.row-sm-all {
    align-content: stretch; }
  .row.row-sm-start {
    align-content: flex-start; }
  .row.row-sm-end {
    align-content: flex-end; }
  .row.row-sm-center {
    align-content: center; }
  .row.row-sm-between {
    align-content: space-between; }
  .row.row-sm-around {
    align-content: space-around; }
  @media only screen and (min-width: 600px) {
    .row.row-sm-all {
      align-content: stretch; }
    .row.row-sm-start {
      align-content: flex-start; }
    .row.row-sm-end {
      align-content: flex-end; }
    .row.row-sm-center {
      align-content: center; }
    .row.row-sm-between {
      align-content: space-between; }
    .row.row-sm-around {
      align-content: space-around; } }
  .row .order-1 {
    order: 1; }
  .row .order-2 {
    order: 2; }
  .row .order-3 {
    order: 3; }
  .row .order-4 {
    order: 4; }
  .row .order-5 {
    order: 5; }
  .row .grow-1 {
    flex-grow: 1; }
  .row .grow-2 {
    flex-grow: 2; }
  .row .grow-3 {
    flex-grow: 3; }
  .row .grow-4 {
    flex-grow: 4; }
  .row .grow-5 {
    flex-grow: 5; }
  .row .shrink-1 {
    flex-shrink: 1; }
  .row .shrink-2 {
    flex-shrink: 2; }
  .row .shrink-3 {
    flex-shrink: 3; }
  .row .shrink-4 {
    flex-shrink: 4; }
  .row .shrink-5 {
    flex-shrink: 5; }
  .row .col-sm-1 {
    margin: 0 10px 10px 10px;
    width: calc(8.33333% - 20px);
    max-width: calc(8.33333% - 20px);
    flex-basis: calc(8.33333% - 20px); }
  .row .col-sm-2 {
    margin: 0 10px 10px 10px;
    width: calc(16.66667% - 20px);
    max-width: calc(16.66667% - 20px);
    flex-basis: calc(16.66667% - 20px); }
  .row .col-sm-3 {
    margin: 0 10px 10px 10px;
    width: calc(25% - 20px);
    max-width: calc(25% - 20px);
    flex-basis: calc(25% - 20px); }
  .row .col-sm-4 {
    margin: 0 10px 10px 10px;
    width: calc(33.33333% - 20px);
    max-width: calc(33.33333% - 20px);
    flex-basis: calc(33.33333% - 20px); }
  .row .col-sm-5 {
    margin: 0 10px 10px 10px;
    width: calc(41.66667% - 20px);
    max-width: calc(41.66667% - 20px);
    flex-basis: calc(41.66667% - 20px); }
  .row .col-sm-6 {
    margin: 0 10px 10px 10px;
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    flex-basis: calc(50% - 20px); }
  .row .col-sm-7 {
    margin: 0 10px 10px 10px;
    width: calc(58.33333% - 20px);
    max-width: calc(58.33333% - 20px);
    flex-basis: calc(58.33333% - 20px); }
  .row .col-sm-8 {
    margin: 0 10px 10px 10px;
    width: calc(66.66667% - 20px);
    max-width: calc(66.66667% - 20px);
    flex-basis: calc(66.66667% - 20px); }
  .row .col-sm-9 {
    margin: 0 10px 10px 10px;
    width: calc(75% - 20px);
    max-width: calc(75% - 20px);
    flex-basis: calc(75% - 20px); }
  .row .col-sm-10 {
    margin: 0 10px 10px 10px;
    width: calc(83.33333% - 20px);
    max-width: calc(83.33333% - 20px);
    flex-basis: calc(83.33333% - 20px); }
  .row .col-sm-11 {
    margin: 0 10px 10px 10px;
    width: calc(91.66667% - 20px);
    max-width: calc(91.66667% - 20px);
    flex-basis: calc(91.66667% - 20px); }
  .row .col-sm-12 {
    margin: 0 10px 10px 10px;
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
    flex-basis: calc(100% - 20px); }
  @media only screen and (min-width: 600px) {
    .row .col-md-1 {
      margin: 0 10px 10px 10px;
      width: calc(8.33333% - 20px);
      max-width: calc(8.33333% - 20px);
      flex-basis: calc(8.33333% - 20px); }
    .row .col-md-2 {
      margin: 0 10px 10px 10px;
      width: calc(16.66667% - 20px);
      max-width: calc(16.66667% - 20px);
      flex-basis: calc(16.66667% - 20px); }
    .row .col-md-3 {
      margin: 0 10px 10px 10px;
      width: calc(25% - 20px);
      max-width: calc(25% - 20px);
      flex-basis: calc(25% - 20px); }
    .row .col-md-4 {
      margin: 0 10px 10px 10px;
      width: calc(33.33333% - 20px);
      max-width: calc(33.33333% - 20px);
      flex-basis: calc(33.33333% - 20px); }
    .row .col-md-5 {
      margin: 0 10px 10px 10px;
      width: calc(41.66667% - 20px);
      max-width: calc(41.66667% - 20px);
      flex-basis: calc(41.66667% - 20px); }
    .row .col-md-6 {
      margin: 0 10px 10px 10px;
      width: calc(50% - 20px);
      max-width: calc(50% - 20px);
      flex-basis: calc(50% - 20px); }
    .row .col-md-7 {
      margin: 0 10px 10px 10px;
      width: calc(58.33333% - 20px);
      max-width: calc(58.33333% - 20px);
      flex-basis: calc(58.33333% - 20px); }
    .row .col-md-8 {
      margin: 0 10px 10px 10px;
      width: calc(66.66667% - 20px);
      max-width: calc(66.66667% - 20px);
      flex-basis: calc(66.66667% - 20px); }
    .row .col-md-9 {
      margin: 0 10px 10px 10px;
      width: calc(75% - 20px);
      max-width: calc(75% - 20px);
      flex-basis: calc(75% - 20px); }
    .row .col-md-10 {
      margin: 0 10px 10px 10px;
      width: calc(83.33333% - 20px);
      max-width: calc(83.33333% - 20px);
      flex-basis: calc(83.33333% - 20px); }
    .row .col-md-11 {
      margin: 0 10px 10px 10px;
      width: calc(91.66667% - 20px);
      max-width: calc(91.66667% - 20px);
      flex-basis: calc(91.66667% - 20px); }
    .row .col-md-12 {
      margin: 0 10px 10px 10px;
      width: calc(100% - 20px);
      max-width: calc(100% - 20px);
      flex-basis: calc(100% - 20px); } }
  @media only screen and (min-width: 992px) {
    .row .col-lg-1 {
      margin: 0 10px 10px 10px;
      width: calc(8.33333% - 20px);
      max-width: calc(8.33333% - 20px);
      flex-basis: calc(8.33333% - 20px); }
    .row .col-lg-2 {
      margin: 0 10px 10px 10px;
      width: calc(16.66667% - 20px);
      max-width: calc(16.66667% - 20px);
      flex-basis: calc(16.66667% - 20px); }
    .row .col-lg-3 {
      margin: 0 10px 10px 10px;
      width: calc(25% - 20px);
      max-width: calc(25% - 20px);
      flex-basis: calc(25% - 20px); }
    .row .col-lg-4 {
      margin: 0 10px 10px 10px;
      width: calc(33.33333% - 20px);
      max-width: calc(33.33333% - 20px);
      flex-basis: calc(33.33333% - 20px); }
    .row .col-lg-5 {
      margin: 0 10px 10px 10px;
      width: calc(41.66667% - 20px);
      max-width: calc(41.66667% - 20px);
      flex-basis: calc(41.66667% - 20px); }
    .row .col-lg-6 {
      margin: 0 10px 10px 10px;
      width: calc(50% - 20px);
      max-width: calc(50% - 20px);
      flex-basis: calc(50% - 20px); }
    .row .col-lg-7 {
      margin: 0 10px 10px 10px;
      width: calc(58.33333% - 20px);
      max-width: calc(58.33333% - 20px);
      flex-basis: calc(58.33333% - 20px); }
    .row .col-lg-8 {
      margin: 0 10px 10px 10px;
      width: calc(66.66667% - 20px);
      max-width: calc(66.66667% - 20px);
      flex-basis: calc(66.66667% - 20px); }
    .row .col-lg-9 {
      margin: 0 10px 10px 10px;
      width: calc(75% - 20px);
      max-width: calc(75% - 20px);
      flex-basis: calc(75% - 20px); }
    .row .col-lg-10 {
      margin: 0 10px 10px 10px;
      width: calc(83.33333% - 20px);
      max-width: calc(83.33333% - 20px);
      flex-basis: calc(83.33333% - 20px); }
    .row .col-lg-11 {
      margin: 0 10px 10px 10px;
      width: calc(91.66667% - 20px);
      max-width: calc(91.66667% - 20px);
      flex-basis: calc(91.66667% - 20px); }
    .row .col-lg-12 {
      margin: 0 10px 10px 10px;
      width: calc(100% - 20px);
      max-width: calc(100% - 20px);
      flex-basis: calc(100% - 20px); } }
  .row .col-sm-offset-1 {
    margin-left: calc(8.33333%); }
  .row .col-sm-offset-2 {
    margin-left: calc(16.66667%); }
  .row .col-sm-offset-3 {
    margin-left: calc(25%); }
  .row .col-sm-offset-4 {
    margin-left: calc(33.33333%); }
  .row .col-sm-offset-5 {
    margin-left: calc(41.66667%); }
  .row .col-sm-offset-6 {
    margin-left: calc(50%); }
  .row .col-sm-offset-7 {
    margin-left: calc(58.33333%); }
  .row .col-sm-offset-8 {
    margin-left: calc(66.66667%); }
  .row .col-sm-offset-9 {
    margin-left: calc(75%); }
  .row .col-sm-offset-10 {
    margin-left: calc(83.33333%); }
  .row .col-sm-offset-11 {
    margin-left: calc(91.66667%); }
  .row .col-sm-offset-12 {
    margin-left: calc(100%); }
  @media only screen and (min-width: 600px) {
    .row .col-md-offset-1 {
      margin-left: calc(8.33333%); }
    .row .col-md-offset-2 {
      margin-left: calc(16.66667%); }
    .row .col-md-offset-3 {
      margin-left: calc(25%); }
    .row .col-md-offset-4 {
      margin-left: calc(33.33333%); }
    .row .col-md-offset-5 {
      margin-left: calc(41.66667%); }
    .row .col-md-offset-6 {
      margin-left: calc(50%); }
    .row .col-md-offset-7 {
      margin-left: calc(58.33333%); }
    .row .col-md-offset-8 {
      margin-left: calc(66.66667%); }
    .row .col-md-offset-9 {
      margin-left: calc(75%); }
    .row .col-md-offset-10 {
      margin-left: calc(83.33333%); }
    .row .col-md-offset-11 {
      margin-left: calc(91.66667%); }
    .row .col-md-offset-12 {
      margin-left: calc(100%); } }
  @media only screen and (min-width: 992px) {
    .row .col-lg-offset-1 {
      margin-left: calc(8.33333%); }
    .row .col-lg-offset-2 {
      margin-left: calc(16.66667%); }
    .row .col-lg-offset-3 {
      margin-left: calc(25%); }
    .row .col-lg-offset-4 {
      margin-left: calc(33.33333%); }
    .row .col-lg-offset-5 {
      margin-left: calc(41.66667%); }
    .row .col-lg-offset-6 {
      margin-left: calc(50%); }
    .row .col-lg-offset-7 {
      margin-left: calc(58.33333%); }
    .row .col-lg-offset-8 {
      margin-left: calc(66.66667%); }
    .row .col-lg-offset-9 {
      margin-left: calc(75%); }
    .row .col-lg-offset-10 {
      margin-left: calc(83.33333%); }
    .row .col-lg-offset-11 {
      margin-left: calc(91.66667%); }
    .row .col-lg-offset-12 {
      margin-left: calc(100%); } }

@media only screen and (max-width: 599px) {
  .flex-container {
    max-width: 100%;
    width: 100%; } }
/* ITENS DE DESIGN */
.container {
  max-width: 1200px;
  margin: 0 auto; }

#header {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative; }
  #header video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5; }
  #header #nav {
    padding: 15px;
    position: absolute;
    z-index: 2;
    top: 0;
    width: 90%;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%); }
    #header #nav > .logo {
      color: #fff;
      float: left;
      font-size: 32px;
      margin-top: 8px; }
    #header #nav > .sociallist {
      float: right; }
      #header #nav > .sociallist > .socialitem {
        float: left;
        background: #1ABC9C;
        padding: 15px;
        border-radius: 50%;
        margin-left: 25px; }
        #header #nav > .sociallist > .socialitem > a {
          color: #fff;
          transition: all 0.2s;
          display: inline-block; }
          #header #nav > .sociallist > .socialitem > a:hover {
            transform: scale(1.3); }
        #header #nav > .sociallist > .socialitem:first-child {
          margin-left: 0; }
  #header > .caption {
    width: 100%;
    margin: 0 auto;
    height: auto;
    position: absolute;
    top: 35%;
    left: 50%;
    color: #fff;
    transform: translate(-50%);
    z-index: 2;
    text-align: center; }
    #header > .caption h1 {
      font-size: 102px;
      font-weight: 500; }
    #header > .caption h2 {
      font-weight: 300;
      margin-top: 20px; }

#about {
  padding: 40px 0 60px 0;
  opacity: 0; }
  #about .title {
    color: #777;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px; }
  #about p {
    color: #777;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px; }
  #about .separador {
    background: #888;
    height: 1px;
    width: 10%;
    margin-top: 10px;
    margin-bottom: 30px; }
  #about .me {
    padding: 5px; }
    #about .me > .avatar {
      border-radius: 10px;
      max-width: 100%; }
    #about .me > .fullname {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 5px;
      text-align: left;
      text-transform: capitalize; }
    #about .me > .role {
      color: #1ABC9C; }
  #about .profile {
    margin-top: 20px; }
    #about .profile h5 {
      font-weight: 400;
      margin: 19px 0; }
      #about .profile h5 > span {
        color: #1ABC9C; }
        #about .profile h5 > span i {
          padding-right: 6px;
          display: inline-block; }
  #about #more-skill {
    display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
    /* padding-bottom: 4px; */ }
  #about .skills > .skill {
    margin: 20px 0;
    transition: all 0.5s; }
    #about .skills > .skill.hide {
      display: none;
      transition: all 0.4s; }
    #about .skills > .skill > .name {
      position: relative; }
      #about .skills > .skill > .name > span {
        position: absolute;
        right: 0px;
        font-size: 14px; }
    #about .skills > .skill > .bar {
      height: 5px;
      margin-top: 5px;
      background: #ddd;
      width: 100%;
      padding-top: 1px; }
      #about .skills > .skill > .bar > span {
        background: #1ABC9C;
        height: 3px;
        display: block;
        width: 0%;
        transition: all 1s;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px; }

.btn {
  border: 3px solid #fff;
  padding: 15px 20px;
  margin-left: 20px;
  margin-top: 5px;
  display: inline-block;
  transition: all 0.3s;
  color: #fff;
  text-decoration: none; }
  .btn:first-child {
    margin-left: 0; }
  .btn:hover {
    background: #65c7b5; }

#contact-bar {
  background: #1ABC9C;
  color: #fff;
  padding: 50px 0 35px 0; }
  #contact-bar .callaction {
    font-weight: 300;
    text-align: center;
    line-height: 38px; }
    #contact-bar .callaction strong {
      font-weight: bold; }
  #contact-bar .group-button {
    text-align: center; }

.divider, .divider-dois {
  height: 100px;
  padding-top: 25px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0; }
  .divider > .left, .divider-dois > .left {
    position: absolute;
    top: 0px;
    left: -1%;
    width: 55%;
    height: 100%;
    transform: rotate(7deg);
    transform-origin: 0px 100% 0px;
    background: #fff; }
  .divider > .right, .divider-dois > .right {
    transform: rotate(-7deg);
    position: absolute;
    top: 0px;
    right: -1%;
    width: 55%;
    height: 100%;
    transform-origin: 100% 100% 0px;
    background: #fff; }

.divider-dois {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  top: -125px;
  height: 140px; }
  .divider-dois > .left {
    position: absolute;
    top: 0px;
    left: -3%;
    width: 54%;
    height: 100%;
    overflow-x: hidden;
    transform: rotate(7deg);
    transform-origin: 100% 25% 0px;
    background: #fff; }
  .divider-dois > .right {
    transform: rotate(-7deg);
    position: absolute;
    top: 0px;
    right: -3%;
    width: 54%;
    height: 100%;
    transform-origin: 0% 33% 0px;
    background: #fff; }

#jobs {
  margin-top: 80px;
  margin-bottom: 80px; }
  #jobs .title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px; }
  #jobs .job-item {
    height: auto;
    width: 100%;
    position: relative; }
    #jobs .job-item:hover .overlay {
      transform: scale(1); }
      #jobs .job-item:hover .overlay img {
        zoom: 150%; }
  #jobs img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd; }
  #jobs .overlay {
    position: absolute;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    padding: 20px 0; }
    #jobs .overlay h2 {
      font-size: 17px; }
    #jobs .overlay h3 {
      font-size: 14px;
      font-weight: 500;
      margin-top: 20px; }
    #jobs .overlay .btn {
      margin-top: 30px; }

._unpadding {
  padding: 0 !important; }

footer {
  position: relative;
  padding: 80px 0;
  background: url("../images/icon-pattern.png") 0px 0px/480px 360px repeat #1f1f1f; }
  footer .title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
    color: #fff; }
  footer input {
    width: calc(50% - 8px);
    float: left;
    margin-bottom: 15px;
    background: transparent;
    padding: 15px;
    border: 2px solid #eee;
    color: #fff;
    border-radius: 9px;
    margin-right: 15px; }
    footer input:focus {
      outline-width: 0; }
    footer input:last-child {
      margin-right: 0; }
  footer textarea {
    width: 100%;
    margin-bottom: 15px;
    background: transparent;
    padding: 15px;
    border: 2px solid #eee;
    color: #fff;
    border-radius: 9px; }
    footer textarea:focus {
      outline-width: 0; }
  footer button {
    float: right;
    background: transparent;
    border: none;
    padding: 10px 30px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 6px;
    transition: all 0.3s; }
    footer button:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.2); }
  footer .phone-bar {
    position: absolute;
    bottom: 0;
    background: #2B2B2B;
    padding: 31px 0;
    width: 100%;
    text-align: center;
    transition: all 0.5s; }
    footer .phone-bar ul li {
      margin-right: 39px;
      display: inline-block; }
      footer .phone-bar ul li a {
        color: #fff;
        text-decoration: none; }
      footer .phone-bar ul li.socialitem {
        margin-right: 10px; }

#success-form {
  transform: scale(0);
  margin-top: 50px;
  transition: all 1s;
  color: #fff;
  text-align: center;
  line-height: 30px; }

object {
  display: none; }

@media (max-width: 600px) {
  #header > .caption h1 {
    font-size: 62px;
    font-weight: 500; }
  #header #nav {
    display: none; }

  .divider > .left, .divider-dois > .left {
    left: 0px; }
  .divider > .right, .divider-dois > .right {
    right: 0%; } }
@media (max-width: 400px) {
  #header > .caption h1 {
    font-size: 42px;
    font-weight: 500; }
  #header > .caption h2 {
    font-size: 20px; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    margin-top: 50px; }
  100% {
    opacity: 1;
    margin-top: 0; } }

/*# sourceMappingURL=style.css.map */
