@media screen and (max-width: 768px) {
	.hero-message {
		top:35%;
		.down-button{
			text-align:center;
			margin-top:10%;
		}

		.hero-text{
		  -webkit-transform:translateY(-35%);
		          transform:translateY(-35%);
		  	h1{
			  font-size: 36px;
			}
			h3{
				font-size:26px;
			}
		}

	}
	section{
		padding: 30px 0;
		&.skill{
			.navigation-skill{
				padding-top:60px;
				button{
					margin-bottom:5px;
				}
			}
			.apresentacaoSkill{
				margin-top:40px;
				h2{
					font-size:30px;
				}
			}

			.groupBar{
				margin-top:0;
				height:auto;
				padding:0;
			}
		}

		&.sobre-mim{
			.historia{
				margin-bottom:50px;
			}
			
			.download-cv{
				text-align:center;
				margin: 40px;
			}
			.destaque-foto{
				margin-bottom:40px;
			}

			.informacoes{
				padding:0;
				h5{
					
					span{
						
					}
				}
				button{
					
				}
			}

		}


	}
	
	.item{
		height:300px;
	}

}