$color: #1ABC9C;
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600,700);
@import 'reset';
@import 'framework/framework';
.container{
	max-width:1200px;
	margin:0 auto;
}

#header{
	height: 98vh;
	background-image: url("../images/bg-header.png");
    background-size: cover;
    background-position: 50% 50%; 
    position: relative;
    #nav{
	   	padding:15px;
	   	position:relative;
	   	z-index:2;

	   	> .logo{
	   		color:#fff;
	   		float: left;
	   		font-size:32px;
	   		margin-top:8px;
	   	}
	   	> .sociallist{
	   		float:right;
	   		> .socialitem{
	   			float: left;
	   			background:$color;
	   			padding:15px;
	   			border-radius:50%;
	   			margin-left:25px;
	   			>a{
	   				color:#fff;
	   				transition:all 0.2s;
	   				&:hover{
	   					font-size:22px;
	   				}
	   			}

	   			&:first-child{
					margin-left:0;
	   			}
	   		}
	   	}
	}
	>.overlay-dot{
		width:100%;
		height: 100%;
		position:absolute;
		top:0;
		background-image:url('../images/dot.png');
	}
	>.overlay-gradiente{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+42,7db9e8+100&1+8,0+100 */
		width:100%;
		height: 30%;
		position:absolute;
		top:0;
		background: -moz-linear-gradient(top,  rgba(0,0,0,1) 2%, rgba(0,0,0,0.5) 50%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 2%,rgba(0,0,0,0.5) 50%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(0,0,0,1) 2%,rgba(0,0,0,0.5) 50%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
	}
}

#about{
	padding:120px 0;
	.title{
	    color: #777;
	    font-size: 18px ;
	    font-weight: 500;
	    letter-spacing: 2px;
	}

	p{
			color: #777;
			font-size: 14px;
			line-height:24px;
    		letter-spacing: 1px;
		}
	
	.separador{
		background:#888;
		height:1px ;
		width:10%;
		margin-top:10px;
		margin-bottom:30px;
	}

	.me{
		padding:5px;
		>.avatar{
			border-radius:10px;
			max-width: 100%;
		}
		>.fullname{
		    font-size: 18px;
		    font-weight: 400;
		    letter-spacing: 1px;
		    margin-bottom:5px;
		    text-align: left;
		    text-transform: capitalize;
		}
		>.role{
			color:$color;
		}
	}

	.profile{
		margin-top:20px;
		

		h5{
			font-weight: 400;
    		margin: 19px 0;
    		>span{
    			color:$color;
    			i{
    				padding-right:6px;
    				display:inline-block;
    			}
    		}
		}
	}

	.skills{
		>.skill{
			margin:20px 0;

			>.bar{
				height:5px;
				margin-top:5px;
				background:#ddd;
				width:100%;
				padding-top:1px;
				>span{
					background:$color;
					height:3px;
					display:block;
				    border-top-right-radius: 3px;
    				border-bottom-right-radius: 3px;
				}
			}
		}
	}
}

#contact-bar{
	background:$color;
	color:#fff;
	padding:50px 0 35px 0;
	.callaction{
		font-weight:300;
		text-align:center;
		strong{
			font-weight:bold;
		}

		
	}
	.btn{
			border:3px solid #fff;
			padding:15px 20px;
			margin-left: 20px;
			margin-top:5px;
			display:inline-block;
			margin-top: - 15px;
			&:first-child{
				margin-left:0;
			}
		}
}


.divider{
    height: 50px;
    padding-top: 25px;
    overflow: hidden;
    width: 100%;
    position:absolute;
    bottom:0;
	>.left{
		    position: absolute;
		    top: 0px;
		    left: -1%;
		    width: 53%;
		    height: 100%;
		    transform:rotate(3deg);
	        transform-origin: 0px 100% 0px;
	        background:#fff;
	}
	>.right{
		transform:rotate(-3deg);
	    position: absolute;
	    top: 0px;
	    right: -1%;
	    width: 53%;
	    height: 100%;
		transform-origin: 100% 100% 0px;
		background:#fff;
	}
}

._unpadding{
padding:0 !important;
}

footer{
	height: 400px;;
}